bazel-android-testdpc
bazel-bin
bazel-out
bazel-testlogs
**/*.iml
.idea
*.lock

.gradle
build2
setupcompat-2ce41c8f4de550b5186233cec0a722dd0ffd9a84/build
setupdesign-4634dac90e3c09a78c2fcdfcb16ab9cb16265527/build
